# Mac command key for Windows with AutoHotKey.
'atom-text-editor':
  'ctrl-alt-q': 'application:quit'
  'ctrl-alt-w': 'core:close'
  'ctrl-alt-y': 'core:redo'
  'ctrl-alt-a': 'core:select-all'
  'ctrl-alt-s': 'core:save'
  'ctrl-alt-z': 'core:undo'
  'ctrl-alt-x': 'core:cut'
  'ctrl-alt-c': 'core:copy'
  'ctrl-alt-v': 'core:paste'

# Emacs keymap completion for emacs-plus, clipboard-plus.
'atom-text-editor:not([mini])':
  'ctrl-/': 'core:undo'
  'ctrl-g ctrl-/': 'core:redo'
  'ctrl-c ctrl-c': 'editor:toggle-line-comments'
  'alt-g alt-g': 'go-to-line:toggle'
  'alt-%': 'find-and-replace:show'
  'alt-y': 'clipboard-plus:toggle'

# Focus to replace box from find box.
'atom-workspace .find-and-replace':
  'alt-%': 'find-and-replace:show-replace'
