'atom-workspace atom-text-editor':
  'ctrl-y': 'core:paste'
  'ctrl-alt-y': 'clipboard-plus:toggle'
  'ctrl-/': 'core:undo'
  'ctrl-g ctrl-/': 'core:redo'
  'ctrl-alt-/': 'core:redo'
  'ctrl-alt-shift-a': 'core:select-all'
  'ctrl-alt-shift-s': 'core:save'
  'ctrl-alt-shift-z': 'core:undo'
  'ctrl-alt-shift-x': 'core:cut'
  'ctrl-alt-shift-c': 'core:copy'
  'ctrl-alt-shift-v': 'core:paste'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-c ctrl-c': 'editor:toggle-line-comments'
  'alt-%': 'find-and-replace:show'
